/* ===== home.css ===== */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

html {
    padding: 0;
    margin: 0;
    background-color: #fffcf5;
    box-sizing: border-box; /* box sizing defines how the width and height of an element are calculated */
}

head {
  display: none;
}



body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    /*margin based on display size*/
    background-color: #fafafa;
    margin: 1vh;
    border:  0.5px solid #3d3b35;
    border-style: solid;
    display: flex ;
    flex-direction: column;
    flex-wrap: nowrap; /* elements dont move / wrap to accomodate   */
    background-color: #fffcf5;
  }


/* ===== Top Container full styling: top_container.css ===== */
.top-container {
    margin: 0vh 3vh 3vh 3vh;
    padding: 3.5vh 3vh 2vh 3vh;
    background-color:  #fffcf5;
    border-bottom: 0.5px solid #3d3b35;
    /* does not move with the page */
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    height: 2vh;
    
}





.grid-container {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    display: flex;
    flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: pink;
}

/* Make columns stack on smaller screens */
@media (max-width: 1080px) {
  .row {
    display: flex;
    flex-direction: column !important;
  }
}



.resume-section {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    padding: 20px;
    background-color: #fffcf5;
}
.project-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    background-color: #fffcf5;
}

.blog-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 20px;
    background-color:#fffcf5 ;}

.resource-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    background-color: lightsalmon;}


.section-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pkb-section-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    background-color: lightgoldenrodyellow;}
.footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    background-color: pink;}